* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}


body {
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
}

.button {
    position: relative;
    width: auto;
    height: 70px;
    border-radius: 50px;
    border: transparent;

}

.button-text {
    position: relative;
    left:30px;
    padding: 0 60px;
    font-size: 2rem;
    font-weight: bold;
    font-family: Arial, serif;
}



.circle {
    position: absolute;
    left: 0;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    top: -2px;
    border: 5px solid yellowgreen;
}



.line {
    position: absolute;
    top: 50%;
    left: 15px;
    height: 5px;
    width: 30px;
    background-color: yellowgreen;
}


.button:hover .line {
    width: 60px;
}

.button:hover .circle {
    width: 100%;

}

.line,
.circle {
    transition: 1s;
}







