
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;

}

.container {
    display: flex;
    justify-content: center;


}

.green {
    width: 900px;
    height: 150px;
    background-color: yellowgreen;
    margin: 50px auto 0;

}

.red {
    width: 250px;
    height: 450px;
    background-color: red;

}

.yellow {
    width: 650px;
    height: 450px;
    background-color: yellow;

}

